@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@100;300;400;500;600;800;900&display=swap');
* {
    /* colors */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --mid-blue: hsl(228, 45%, 44%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white: #fff;
    padding: 0;
    margin: 0;
    transition: all 0.2s linear;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}


/* navbar */

.header {
    margin-top: 30px;
}

.navbar {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .nav-logo {
    margin-left: 10%;
}

.navbar .nav-button {
    margin-right: 10%;
}

.navbar .nav-logo img {
    width: 200px;
}

.landing-text p {
    text-align: center;
    color: var(--very-dark-cyan);
    padding-bottom: 30px;
}


/* Main content */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 30px;
}

.empty-space {
    height: 150px;
}

.main-content h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.main-content p {
    font-size: 14px;
    width: 50%;
    padding-bottom: 30px;
}

.main-content img {
    width: 80%;
    padding: 50px 0 20px 0;
}


/* Landing info */

.landing-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.landing-info img {
    width: 30px;
}

.landing-info h2 {
    font-size: 50px;
    font-weight: 600;
}

.landing-info p {
    font-size: 14px;
    text-align: center;
}


/* content Area */

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column img {
    width: 70%;
}

.column h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

.column p {
    width: 80%;
}

.column-bg {
    background: url('/images/background-01.png') no-repeat center center/cover;
    height: 500px;
}


/* footer area */

.footer {
    background: url('/images/footer-image.png') no-repeat center center/cover;
    height: 80vh;
    margin-top: 100px;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    height: 30%;
}

.footer-right {
    height: 30%;
}

.footer-left img {
    width: 200px;
}

.footer-left p {
    color: var(--white);
    width: 50%;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer-left i {
    padding-right: 10px;
    font-size: 18px;
}

.footer-right h3 {
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
}

.footer-right p {
    color: var(--white);
    width: 50%;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer-right .subcribe {
    display: flex;
}

.footer-right .subcribe input {
    padding: 5px 50px 5px 0;
    margin-right: 30px;
    border-radius: 5px;
}

.social-media i {
    color: var(--white);
    font-size: 25px;
    padding-right: 15px;
    padding-top: 30px;
}


/* utilities */


/* Mobile Setting */

@media (max-width: 600px) {
    .navbar .nav-logo {
        margin-left: 5%;
    }
    .navbar .nav-button {
        margin-right: 5%;
    }
    .navbar .nav-logo img {
        width: 150px;
    }
    /* main content */
    .empty-space {
        height: 75px;
    }
    .main-content {
        max-width: 90%;
    }
    .main-content h1 {
        font-size: 25px;
    }
    .main-content p {
        width: 90%;
    }
    .column-bg {
        background: url('/images/background-01.png') no-repeat center center/cover;
        height: 700px;
    }
    .column img {
        width: 50%;
    }
    /* landing info */
    .landing-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 10px;
    }
    /* Footer */
    .footer {
        background: url('/images/bg-footer-top-mobile.svg') no-repeat center;
        background-size: cover;
        height: 100%;
    }
    .footer-flex {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 150px;
        padding-bottom: 50px;
        text-align: center;
        align-items: center;
    }
    .footer-right p,
    .footer-left p {
        color: var(--white);
        width: auto;
        font-size: 14px;
        text-align: center;
    }
    .footer-right .subcribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .footer-right .subcribe input {
        width: 80%;
        padding: 10px 0;
        margin: 10px 30px;
    }
    /* utilities */
    .btn-secondary {
        border: 1px solid var(--pink);
        color: var(--pink);
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 11px;
    }
    .flex-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex-columns-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 70vh;
    }
    .ml-1,
    .mr-1 {
        margin: 0 10%;
    }
    .column p {
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
}